.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.click {
  height: 50px;
  width: 150px;
  border-radius: 10%;
  background-color: #223c42;
  color: rgb(65, 167, 227);
  margin-left: 20px;
}
.head {
  color: orangered;
}
.head1 {
  color: rgb(173, 78, 47);
}
.outline {
  border: 5px solid purple;
  border-radius: 50px;
  padding: 30px;
  margin: 20px;
}
.container {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  background-color: purple;
  justify-content: center;
  align-items: center;
}
.image {
  height: 100px;
  width: 100px;
}
.form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form--input {
  margin-left: 10px;
  margin-right: 15px;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  height: 30px;
  width: 200px;
}

.form--button {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
  height: 35px;
  width: 200px;
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
